/**
 * WooCommerce Session Bundle Admin Styles
 */

#gr8r-woo-session-bundles-add-bundled-product-selector {
	flex: 1;
	min-width: 300px;
	float: unset;
}

.gr8r-woo-session-bundles-bundled-session-list,
.gr8r-woo-session-bundles-bundled-session-value,
.gr8r-woo-session-bundles-add-bundled-session {
	padding: 12px;
}

.gr8r-woo-session-bundles-bundled-session-list {
	border-bottom: 1px solid #eee;
}

h3.gr8r-woo-session-bundles-bundled-session-list-title {
	margin-top: 0;
}

.gr8r-woo-session-bundles-bundled-session-list-table {
	width: 100%;
}

.gr8r-woo-session-bundles-bundled-session-list-table th {
	text-align: left;
}

.gr8r-woo-session-bundles-bundled-session-value {
	font-weight: 500;
}

.gr8r-woo-session-bundles-add-bundled-session {
	display: flex;
	column-gap: 12px;
}

.gr8r-woo-session-bundles-bundled-session-product-quantity {
	column-gap: 6px;
}

.gr8r-woo-session-bundles-bundled-session-list .gr8r-woo-session-bundles-bundled-session .gr8r-woo-session-bundles-bundled-session-product-quantity input[type="number"],
.gr8r-woo-session-bundles-bundled-session-list .gr8r-woo-session-bundles-bundled-session .gr8r-woo-session-bundles-bundled-session-product-quantity label {
	float: unset;
	display: block;
	width: unset;
	margin: 0;
}

.gr8r-woo-session-bundles-bundled-session-product-actions {
	display: flex;
	column-gap: 1em;
	align-items: center;
}

.gr8r-woo-session-bundles-order-item-meta-details ul {
	margin-bottom: 0;
	margin-top: 0;
}

/* Responsive Design */
@media (max-width: 768px) {

	#gr8r-woo-session-bundles-add-bundled-product-selector {
		min-width: auto;
	}
}
